h1 Programs

table(class="programs")
  tr
    th(class="program-name-header") Name
    th(class="program-pid-header") Pid
    th(class="program-state-header") State
    th(class="program-state-header") Last Update
    th(class="program-instances") N
    th(class="program-user") User
    th(class="program-command-header") Command
  - each program in programs
    tr(id="program-" + program.name)
      td(class="program-name")
        a(href="/programs/" + program.name)= program.name
      td(class="program-pid")= program.pid()
      td(class="program-state")= program.state()
      td(class="program-last-update")= program.last_change.toISOString()
      td(class="program-instances")= program.numprocs
      td(class="program-user")= program.user
      td(class="program-command")= program.command + " " + program.args.join(" ")

script
  ph = new ProcNanny()

