h1 program: #{program.name}

div(id="program-" + program.name)
  ul
    li State: 
      span(class="program-state")= program.state()
    li Pid: 
      span(class="program-pid")= program.pid()
    li Command: 
      span(class="program-command")= program.command + " " + program.args.join(" ")

  p Output:
  pre(class="stdout")

  pre(class="stderr__")

  script
    ph = new ProcNanny("#{program.name}")

